{% extends "layout.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div id="leftStuff" class='col-md-4'>
			<div class='panel panel-default'>
				<div id='controls' class='panel-body'>
					<div class='panel-heading'>
						<button class='btn btn-circle btn-lg'>1</button>
						<button class='btn btn-circle btn-lg'>2</button>
						<button class='btn btn-circle btn-lg'>3</button>
						<button class='btn btn-circle btn-lg'>4</button>
						<button class='btn btn-circle btn-lg'>5</button>
					</div>
					<div class='panel-body'>
						<div class='well'>
							<p class='lead'>Hotel<button class='btn btn-circle btn-lg'>+</button></p>
						</div>
						<div class='well'>
							<p class='lead'>Restaurants<button class='btn btn-circle btn-lg'>+</button></p>
							
						</div>
						<div class='well'>
							<p class='lead'>Activities<button class='btn btn-circle btn-lg'>+</button></p>
						</div>
					</div>
				</div>
				</p>
			</div>
		</div>

		<div id='map-canvas' class='col-md-8'></div>
	</div>
</div>




<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js">
</script>

<div id="fsModal" class="modal modal-fullscreen">
  <div class="modal-dialog">
       <h1 class="modal-title"style="text-align:center;">Welcome to Dragoman!
        </h1>
        <div class="centered">
        <img style="width:20vh;left:50%;" src="images/logo.png"/></div>
        <hr>
        <div class="centered">
        <h3>Select the location and duration of your trip.</h3>
        <input placeholder="Country,city,etc.."style="margin-right:50px;"></input>
      <input type="number" placeholder="5 days">
      <br><br>
        <button id="startTrip" class="btn btn-primary"
                >
          Plan Trip
        </button>
        <div>
  </div>
</div>



{% endblock %}


