body {
	padding-top: 50px;
}

#map-canvas {
    height: 90vh; 
}

#controls {
	height: 89vh;
}

.btn-circle {
	border-radius: 100%;
	margin: 5px;
}

.btn {
	border: 0px solid transparent;
	background-color: #FFAF75;
	&:hover {
		background-color: lighten(#FFAF75, 5%);
		color: darken(#FFFFFF, 5%);
	}
	&:active {
		background-color: lighten(#FFAF75, 10%);
		color: darken(#FFFFFF, 10%);
	}
	color: #FFFFFF;
}

.well {
	height: 23vh;
	background-color: #EEFFFD;
}

.panel {
	background-color: #FFF6EF;
}

.lead {
	font-size: 250%;
}